<div class="item {% if post.star %}star{% endif %}">
  <a class="url" href="{{ site.url }}{{ post.url }}">
    <div class="card">
      <img class="card-image" src="{{ post.image }}" alt="{{ post.title }}">

      <div class="card-content">
        <h3 class="title">{{ post.title }}</h3>

        <time class="date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
          {{ post.date | date: "%b %d %Y" }}
        </time>

        {% if post.tag %}
          <div class="tags">
            {% for tag in post.tag %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
